@import '../../../styles/theme';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  padding: 0 1.5rem;
  border-radius: 1.5rem;
  background-color: $info;
  min-width: 9rem;
  color: $white;
  cursor: pointer;
  transition: background ease 0.5s;

  &:hover {
    background-color: darken($color: $info, $amount: 2.5);
  }
}
