@import '../../../../../styles/theme';

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.item {
  padding: 1rem;
  color: $grey;
  cursor: pointer;
  font-size: 18px;

  &Active {
    @extend .item;
    color: $info;
  }
}
