@import '../../../styles/theme';

.tabContent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  padding: 1rem 0;

  @media #{$tablet} {
    grid-template-columns: repeat(2, 1fr);
  }

  @media #{$phone} {
    grid-template-columns: 1fr;
    padding-bottom: 3rem;
  }
}
