@import '../../../styles/theme';

.container {
  position: relative;
  margin-top: 5vh;
  margin-bottom: 3rem;
  min-height: 38px;

  h1 {
    color: $white;
    font-weight: 500;
    position: relative;
    z-index: 1;
    margin: 0;
    left: 0.5rem;
    top: 0.5rem;
  }

  svg {
    position: absolute;
    top: 0;
  }
}
