@import '../../../../../styles/theme';

.container {
  display: grid;
  grid-template-columns: 12rem 1fr;
  gap: 2rem;

  @media #{$tablet} {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

.content {
  background-color: transparentize($color: $darkLight, $amount: 0.75);
  border-radius: $radius-default;
  padding: 1.5rem;
  color: $white;
  display: grid;
  grid-template-columns: 1fr max-content;
  gap: 2rem;

  @media #{$phone} {
    grid-template-columns: 1fr;
  }

  p {
    margin-top: 0;
    line-height: 1.5;
    font-weight: 300;
  }
}

.info {
  display: grid;
  justify-items: baseline;
  align-content: baseline;
}

.stack {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  align-content: center;
  gap: 1rem;

  @media #{$phone} {
    grid-template-columns: repeat(auto-fill, 48px);
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  padding: 0 1.5rem;
  border-radius: 1.5rem;
  background-color: $info;
  min-width: 9rem;
  color: $white;
  cursor: pointer;
  transition: background ease 0.5s;

  &:hover {
    background-color: darken($color: $info, $amount: 2.5);
  }
}
