/* BRAND */
$dark: #1b1b40;
$darkLight: #3a3b7b;
$white: #ffffff;
$light: #f5f5ff;
$grey: #9c9ab3;

/* STATUS */
$info: #6565ff;
$success: #43d8b6;
$error: #ff4d61;
$warning: #ffd35c;

/* RADIUS */
$radius-default: 24px;
$radius-bottombar: 28px;
$radius-circle: 50%;

/* SCREEN */
$phone: '(max-width: 767px)';
$tablet: '(max-width: 992px)';
$desktop: '(min-width: 1200px)';
$widescreen: '(min-width: 1336px)';

/* FONT */
$font-family: 'Rubik', sans-serif;
